{
    "policies":{
        "Certificates": {
            "Install": ["/opt/burpsuite/extras/PortSwigger_CA.der"]
        },
        "Extensions":{
            "Install":[
                {% for extension in firefox_extensions %}
                "https://addons.mozilla.org/firefox/downloads/latest/{{ extension }}/latest.xpi"{{ ", " if not loop.last else "" }}
                {% endfor %}
            ]
        }   
    }
}